    {% if page.header.pdf %}
      <div class="page-pdf">
      <em>Download</em>
      <a href="{{ page.url}}/{{ page.header.pdf.url|e('url') }}">{{ page.header.pdf.title }}</a>
      </div>
    {% endif %}

  <div class="page-pdf">
      <em>Download</em>
      <a href="../pdfs/Beyond Tomorrow: {{ page.title|e('url') }}.pdf">{{ page.title }}</a>
  </div>
{{ page.title|e('url') }}.pdf
